/* Styling the main div */
.main {
  background-color: #69bff8;
  text-align: center;
  border: 1px solid #69bff8;
  height: 400px;
  width: 500px;
  margin: auto;
  margin-top: 80px;
}
/* styling sub div in which button and dropdown list is there */
.sub-main {
  width: 136px;
  margin: auto;
}
/* Styling The dropdown button */
.dropdown-button {
  background-color: #60f2fc;
  border: none;
  width: 200px;
  margin: auto;
  font-size: 20px;
}
/* Styling the list of dropdown */
.list {
  list-style: none;
  cursor: pointer;
  width: 150px;
  margin: auto;
}
/* Styling the list as we hover the background color will change */
.list:hover {
  background-color: #60f2fc;
}
